# --------------------------------------------------
# Environment / Secrets
# --------------------------------------------------
.env
docker/.env

# --------------------------------------------------
# OS / System Junk
# --------------------------------------------------
.DS_Store
Thumbs.db

# --------------------------------------------------
# Logs
# --------------------------------------------------
*.log

# --------------------------------------------------
# Backup / Temporary Files
# --------------------------------------------------
*.bak
*.old
*.tmp

# --------------------------------------------------
# Editor / IDE Files
# --------------------------------------------------
.vscode/
.idea/

# --------------------------------------------------
# Python / Misc
# --------------------------------------------------
__pycache__/
